$scissors-color: #eca922;
$paper-color:  #5671f5;
$rock-color: #dd405d;
$lizard-color: #8c5de5;
$spock-color:  #52bed1;
$score-text: #2a46c0;
$score-number: #3b4363;
$header-outline: #606e85;
$background: radial-gradient(circle, #1f3756, #141539);